/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


/* ==========================================================================
   Custom CSS from this point on!
   ========================================================================== */

@font-face{
    font-family: "hoog";
    src: url('/fonts/hoog.ttf');
}

:root {
/*     --light1: #252525;
    --light2: #333333;
    --dark1: #c4c4c4;
    --dark2: #afafaf; */

    --dark1: #252525;
    --dark2: #333333F6;
    --dark3: #494949F6;
    --light1: #c4c4c4;
    --light2: #afafaf;
    --light3: #929292;
    --shadow: #0000002d;
}

body {
  background-color: var(--dark1);
  margin:0px;
  padding:0px;
  height: 100%;
  width: 100%;
}

#title-container {
  width:100%;
  display:block;
  margin:auto;
  text-align:center;
  padding-bottom: 8px;

}

#title-container h1 {
  margin:0px;
  padding-top: 20px;
  padding-bottom:5px;
  font-family: hoog;
  color: var(--light1);
  height: clamp(40px, 16vw, 190px);
  font-weight: initial;
  font-size: clamp(20px, 10vw, 120px);
  line-height: 80%;
  text-shadow:8px 8px var(--shadow);
}

#title-container h2 {
  margin:0px;
  padding-top: 0px;
  padding-bottom:0px;
  margin-bottom:6px;
  font-family: hoog;
  color: var(--light1);
  font-weight: initial;
  font-size: clamp(10px, 4vw, 40px);
  line-height: 80%;
  text-shadow:5px 5px var(--shadow);
}

@media (max-width: 950px) {
  #title-container {
    text-align: left;
    width:60%;
    margin-left:4%;
    display:inline-block;
  }
}

#nav-outer {
  margin: 10px auto 35px;
  width:92%;
  max-width: 1000px;
  height:clamp(50px, 12vw, 70px);
  display: table;
  border-spacing: 20px 0px;

  
}

#nav-outer div {
  margin: 10px 10%;
  display: table-cell;
  max-width: 100px;
  min-width: 100px;
  background-color: var(--dark2);
  font-family: hoog;
  color: var(--light1);
  box-shadow:8px 8px 10px var(--shadow);
  text-shadow:3px 3px var(--shadow);
  font-size: clamp(16px, 2vw, 22px);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;

}

#nav-outer div:hover {
  transform: scale(1.1);
}

#nav-mobile-btn {
  float: right;
  margin: 20px 4% 0px 0px;
  background-color: var(--dark2);
  font-family: hoog;
  color: var(--light1);
  box-shadow:8px 8px 10px var(--shadow);
  text-shadow:3px 3px var(--shadow);
  font-size: clamp(16px, 5vw, 22px);
  text-align: center;
  padding:2% 3%;
  display:none;
  cursor: pointer;
  border-radius: 2px;
}



#nav-mobile-menu {
  display: none;
  margin:auto;
  text-align: center;
  /* width: 92%; */

  font-family: hoog;
  color: var(--light1);

  font-size: 28px;
  text-align: center;
  overflow:hidden;
  
}

#nav-mobile-menu div {
  padding:30px 0px;
  margin: 20px auto;
  width:92%;
  border-top: 2px solid var(--dark1);
  background-color: var(--dark2);
  box-shadow:8px 8px 10px var(--shadow);
  text-shadow:3px 3px var(--shadow);
  cursor: pointer;
  border-radius: 2px;
  
}

@media (max-width: 950px) {
  #nav-outer {
    display: none;
  }
  #nav-mobile-btn {
    display:block
  } 
}

.nav-selected {
  background-color: var(--dark3) !important;
}

#content {
  min-height: calc(100vh - 107px);
}




#carousel-container {
  width: 100%;
  height: 40vw;
  margin: 7px auto 15px;
  position: relative;

}

.carousel-slides {
  height: 100%;
  position: relative;
}

.carousel-slide {
  display:block;
  height: 100%;
  position: relative;
  overflow:hidden;
  cursor: pointer;
}

.carousel-slide:focus {
  outline: none;
}


#carousel-container img {
  width:90%;
  height:95%;
  margin:auto;
  object-fit: cover;
  box-shadow:10px 10px 10px var(--shadow);
  position: absolute;
  /* display: inline-block; */
  left:5%;
  
}

.slide-title {
  width:90%;
  /* height:20%; */
  bottom:5%;
  position: absolute;
  left:5%;
  background-color: rgba(7, 6, 5, 0.774);

  text-align: center;
  font-family: hoog;
  color: var(--light1);
  font-weight: initial;
  font-size: clamp(10px, 6vw, 60px);
  text-shadow:5px 5px var(--shadow);

  padding: 1% 0px;

} 

/* slick carousel fixes? */
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
}

#about-container {
  text-align: center;
  padding-top:1%;
}

#about-content {
  width:100%;
  max-width: 1600px;
  margin: 0 auto;
  color: var(--light1);
  font-size: clamp(14px, 3vw, 20px);
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 50px;
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  
}

#about-content div {
  background: var(--dark2);
  box-shadow: 8px 8px 10px var(--shadow);
  margin:0px 5%;
  width:100%;
  padding-bottom: 2%;
  padding-top: 1%;
  margin-bottom: 20px;
  border-radius: 4px;
}

#about-content div h1 {
  font-family: hoog;
  font-weight: normal;
  margin:10px 0px;
  text-shadow:4px 4px var(--shadow);
  line-height: 90%;;
}

#about-content div p {
  font-weight: normal;
  margin:0px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px 15px 10px;
  font-size: clamp(16px, 2vw, 18px);
}

#about-content div p a {
  color:#999;
}

@media (min-width:800px){
  #about-content div {
    flex-basis: 45%;
    margin: 0px;
    max-width: 490px;
  }

  #about-content div p {
    padding-bottom: 0px;
  }
}


#footer-container {
  text-align: center;
  position: relative;
  padding: 0px;
  height: 107px;
  color: var(--light1);
  font-family: hoog;
}

#footer-container img {
  width:50px;
  padding:0px 7px 15px;
  
}

canvas {
  position: fixed;
  height: vh;
  z-index: -1;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  
}

/* OTHER PAGES */

.page-content {
  margin: 0 4%;
  padding-bottom: 20px;
}

.page-title {
  margin:0px;
  padding-top: 0px;
  padding-bottom:15px;
  font-family: hoog;
  color: var(--light1);
  font-weight: initial;
  font-size: clamp(30px, 5vw, 50px);
  line-height: 80%;
  text-shadow:8px 8px var(--shadow);
}

.page-subtitle {
  color: var(--light1);
  font-size: clamp(14px, 3vw, 20px);
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 20px;
}

@media (min-width:950px) {
  .page-title {
    margin-left:0;
    text-align:center;
    padding-top:10px;
  }

  .page-subtitle {
    text-align: center;
  }
}

/* Contact Page */

#form-details-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-details {
  border: none;
  box-shadow:8px 8px 10px var(--shadow);
  box-sizing: border-box;
  /* margin: 6px auto; */
  margin-bottom: 20px;
  width: 100%;
  height: 50px;
  background-color: var(--light1);
  font-size: 20px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left:12px;
  color: var(--dark2);
  border-radius: 2px;
}

.form-message {
  display: block;
  border: none;
  box-shadow:8px 8px 10px var(--shadow);
  box-sizing: border-box;
  margin: 0px auto;
  width: 100%;
  max-width: 1100px;
  height: 30vh;
  background-color: var(--light1);
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding:12px;
  font-size: 18px;
  border-radius: 2px;
  
  
}

#send-button {
  background-color: var(--dark2);
  border: none;
  box-shadow:8px 8px 10px var(--shadow);
  font-family:hoog;
  color: var(--light1);
  font-size: 30px;
  padding: 10px;
  display: block;
  margin:20px auto;
  border-radius: 2px;
}

@media (min-width: 950px) {
  .form-details {
    width:49%;
  }
}

/* Work & Experiments */ 
.card-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width:770px){
  .card-container{
    max-width: 1400px;
    justify-content: space-between;
  }
}

.card {
  flex-basis: 100%;
  max-width: 650px;
  /* padding-top: 70%; */
  position: relative;
  box-shadow:8px 8px 10px var(--shadow);

  margin-bottom: 5%;
  overflow:hidden;
  border-radius: 4px;
  cursor: pointer;
}

.card::before {
  padding-bottom: 70%;
  content: "";
  display: inline-block;
  vertical-align: top;
}

.card-inside {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.card img {
  width:100%;
  height:75%;
  object-fit: cover;
}

.card-title {
  background-color: var(--dark2);
  width: 100%;
  height: 25%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  color: var(--light1);
  font-family: hoog;
  font-size: clamp(22px, 10vw, 30px);
}

.card-title p {
  width: 100%;
  margin: 0px;
  padding-left: 3vw;
  line-height: 85%;
}

.card-title-p {
  font-size: clamp(22px, 8vw, 50px);
}
.card-subtitle-p {
  font-size: clamp(10px, 5vw, 25px);
}

@media (min-width:770px) {
  .card {
    flex-basis: 47%;
  }

  .card-title p {
    padding-left: 2vw;
  }

  .card-title-p {
    font-size: clamp(22px, 3.8vw, 40px);
  }
  .card-subtitle-p {
    font-size: clamp(10px, 1.7vw, 20px);
  }
}

@media (min-width:1100px) {
  .card {
    flex-basis: 31%;
    margin-bottom: 3%;
  }

  .card-title p {
    padding-left: 1vw;
  }

  .card-title-p {
    font-size: clamp(22px, 2.6vw, 40px);
  }
  .card-subtitle-p {
    font-size: clamp(10px, 1.5vw, 20px);
  }
}

.modal-background {
  position:fixed;
  top:0px;
  left:0px;
  background: #000000BB;
  width:100%;
  height: 100%;
  z-index: inherit;

  display: none;
}

body.modal-open {
  overflow-y: hidden;
}

.modal-popup-container {
  width:92%;
  max-width: 1200px;
  background: var(--dark1);
  position: fixed;
  margin:20px auto 80px;
  padding:20px 0px;
  left:0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  overflow-y: scroll;
  color: white;
  box-shadow: 8px 8px 10px var(--shadow);
  display: none;
  
}


